body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}


.label-container{
    display:flex;
    flex-direction:column;
    gap:8px;

}
label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form{
    align-items: center;
    justify-content: center;
}

.produto {
    display: inline-block;
    width: 200px;
    margin: 10px;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size:  13px;
    text-align: left;
    margin-top: 10px;
    color:#333333;


}

.produto h3 {
    margin-top: 10px;
}

.produto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: box-shadow 0.3s ease-in-out;

}

.produto img:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#description {
    font-size:13px;
    color:#808080;
    text-transform:none;
}

.produto p {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 27px;
    text-align: left;
    font-weight:bold;
}

.description p{
    color:#808080    ;
}

#total {
    margin-top: 20px;
    font-weight: bold;
}

 button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 200px;
    cursor: pointer;
}


.botao-calcular:hover
{
    background-color:#454545;
}

.quantity-container {
    display: flex;
    align-items: center;
  }
  
 .quantity-button {
    color:#000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    
  }





  input[type="number"] {
    width: 50px;
  }
  
  span {
    margin-left: 5px;
  }

  .produto-container{
    text-align:center;
  }